<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>БАУМНКА ПИДОРЫ</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 1920px; height: 156px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1920px; height: 156px; left: 0px; top: 0px; position: absolute; background: #2F4230"></div>
            <div style="width: 253px; height: 91px; left: 125px; top: 32px; position: absolute; text-align: center; color: #FDF4E3; font-size: 64px; font-family: Kadwa; font-weight: 400; line-height: 96px; word-wrap: break-word">EduLab</div>
            <div style="width: 67px; height: 81px; left: 1801px; top: 32px; position: absolute">
                <div style="width: 45px; height: 44px; left: 11px; top: 0px; position: absolute; background: #FDF4E3"></div>
                <div style="width: 67px; height: 34px; left: 0px; top: 47px; position: absolute; background: #FDF4E3"></div>
            </div>
            <div style="width: 78px; height: 57px; left: 34px; top: 47px; position: absolute">
                <div style="width: 78px; height: 11px; left: 0px; top: 0px; position: absolute; background: #FDF4E3; border-radius: 20px; border: 1px black solid"></div>
                <div style="width: 78px; height: 11px; left: 0px; top: 23px; position: absolute; background: #FDF4E3; border-radius: 20px; border: 1px black solid"></div>
                <div style="width: 78px; height: 11px; left: 0px; top: 46px; position: absolute; background: #FDF4E3; border-radius: 20px; border: 1px black solid"></div>
            </div>
            <div style="width: 993px; height: 61px; left: 480px; top: 43px; position: absolute; background: #FDF4E3; border-radius: 20px; border: 1px black solid"></div>
        </div>
        <img style="width: 1920px; height: 914px; left: 0px; top: 156px; position: absolute" src="https://via.placeholder.com/1920x914" />
        <div style="width: 570px; left: 115px; top: 397px; position: absolute"><span style="color: white; font-size: 64px; font-family: Jura; font-weight: 400; line-height: 96px; word-wrap: break-word">Сайт<br/></span><span style="color: white; font-size: 48px; font-family: Jura; font-weight: 400; line-height: 72px; word-wrap: break-word"> для формирования индивидуальных вариантов для <br/>ваших заданий  </span></div>
        <img style="width: 1920px; height: 1627px; left: 0px; top: 1070px; position: absolute" src="https://via.placeholder.com/1920x1627" />
        <div style="width: 1407px; left: 255px; top: 1180px; position: absolute">
            <div style="width: 583px; height: 115px; left: 824px; top: 0px; position: absolute">
                <div style="width: 583px; height: 115px; left: 0px; top: 0px; position: absolute; background: #2F4230; border-radius: 32px"></div>
                <div style="width: 458.93px; height: 54px; left: 61.48px; top: 31px; position: absolute; text-align: center; color: #FDF4E3; font-size: 64px; font-family: Kadwa; font-weight: 400; line-height: 96px; word-wrap: break-word">Join lab</div>
            </div>
            <div style="width: 583px; height: 107px; left: 0px; top: 0px; position: absolute">
                <div style="width: 583px; height: 107px; left: 0px; top: 0px; position: absolute; background: #2F4230; border-radius: 32px"></div>
                <div style="left: 88px; top: 9px; position: absolute; text-align: center; color: #FDF4E3; font-size: 64px; font-family: Kadwa; font-weight: 400; line-height: 96px; word-wrap: break-word">Upload to lab</div>
            </div>
        </div>
        <div style="width: 583px; height: 499px; left: 255px; top: 1311px; position: absolute">
            <div style="width: 583px; height: 499px; left: 0px; top: 0px; position: absolute; background: rgba(47, 66, 48, 0.90); border-radius: 55px"></div>
            <div style="width: 531px; height: 295.29px; left: 26px; top: 86px; position: absolute"><span style="color: #FDF4E3; font-size: 50px; font-family: Jura; font-weight: 400; line-height: 50px; word-wrap: break-word">Здесь ты можешь загрузить свои задания или тесты на сайт. А также создать свой собственный вариант для пользователей</span><span style="color: #FDF4E3; font-size: 50px; font-family: Kadwa; font-weight: 400; line-height: 50px; word-wrap: break-word">.</span></div>
        </div>
        <div style="width: 583px; height: 499px; left: 1079px; top: 1311px; position: absolute">
            <div style="width: 583px; height: 499px; left: 0px; top: 0px; position: absolute; background: rgba(47, 66, 48, 0.90); border-radius: 55px"></div>
            <div style="width: 552px; height: 212px; left: 31px; top: 51px; position: absolute; color: white; font-size: 50px; font-family: Jura; font-weight: 400; line-height: 50px; word-wrap: break-word">Тут расположены задания и тесты, которые ты можешь решать. </div>
        </div>
        <div style="width: 94px; height: 81px; left: 1661px; top: 32px; position: absolute">
            <div style="width: 94px; height: 58.92px; left: -0px; top: 18.70px; position: absolute; background: #FDF4E3"></div>
            <div style="width: 88.17px; height: 41.93px; left: 2.91px; top: 3.37px; position: absolute; background: #FDF4E3"></div>
        </div>
    </div> 
</body>
</html>